@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand: #1e42a6;
  --dark-accent: #6a6f7c;
  --dark-shades: #252133;
  --light-accent: #777b83;
  --light-shades: #f1f1f1;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  padding: 1.75rem 0;
  font-weight: 300;
}
/* Global styles */

main {
  padding-bottom: 1.25rem;
}
/* Utilities */
.container {
  width: 90vw;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

.page-heading {
  margin-bottom: 1rem;
  text-align: center;
}
.flex-row {
  display: flex;
  align-items: center;
}

input[type='submit'],
button {
  background-color: var(--brand);
  color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
}
input[type='submit'] {
  margin: 2rem 0 0.75rem;
  text-transform: uppercase;
}
input[type='submit']:hover,
button:hover {
  background-color: var(--dark-shades);
  cursor: pointer;
  color: #fff;
}

.text-center {
  text-align: center;
}

.guest-name {
  text-transform: capitalize;
}

.hide-field {
  display: none;
}

.success {
  color: rgb(34, 187, 51);
}
/* Add guest styles */

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
  align-items: flex-start;
  width: 100%;
}

ul li label {
  margin-bottom: 0.25rem;
  font-weight: 600;
}

input,
select {
  outline: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input:active,
input:focus,
select:active,
select:focus {
  border: 2px solid var(--brand);
}

.add-guest .flex-row {
  width: 25%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.no-scroll {
  overflow: hidden;
}

.btn-transparent {
  background-color: transparent;
  color: var(--dark-shades);
  border: 1px solid var(--dark-shades);
  transition: background-color 0.2s ease-in-out;
}
/* Guest details cards */
.guest {
  margin-bottom: 0.75rem;
  box-shadow: var(--light-shades) 0px 2px 8px 0px;
  border-radius: 0.5rem;
  overflow: hidden;
}

strong {
  font-weight: 600;
}
.guest-info-show {
  border-bottom: var(--brand) solid 2px;
}
.guest-info-hidden .guest-header {
  background-color: var(--light-shades);
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  color: var(--dark-shades);
}
.guest-info-hidden .guest-header i {
  color: var(--brand);
}
.guest-info-show .guest-header {
  background-color: var(--dark-shades);
  color: var(--light-shades);
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.guest-info-show .guest-header i {
  color: var(--light-shades);
}

.guest-info-hidden .guest-info {
  max-height: 0;
  transition: all 0.5s ease-in-out;
}

.guest-info-show .guest-info {
  max-height: 500px;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.guest-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.guest h2 {
  font-size: 1rem;
  font-weight: 500;
}

.guest > .flex-row {
  justify-content: space-between;
}

.update-details {
  text-align: end;
  transition: all 0.5s ease-in-out;
}

.update-details i {
  color: var(--brand);
}

.update-details i:hover {
  cursor: pointer;
}
/* Filter */
.filter,
.sort {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--light-shades);
}
.filter-button,
.sort-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.apply-filter,
.apply-sort,
.cancel {
  width: 150px;
  margin-left: 0.5rem;
}

#toggle-sort,
#toggle-filter {
  width: 150px;
}
.filter-hidden,
.sort-hidden {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.table-header {
  display: none;
}

.filter-show,
.sort-show {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.search-filter {
  display: flex;
  flex-direction: column;
  background-color: var(--light-shades);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.search-filter .filter-button {
  justify-content: space-between;
}

/* Search Input */
#search-input:focus,
#search-input:hover,
#search-input:active,
#search-input:focus-within,
#search-input:hover-within,
#search-input:active-within {
  outline: none;
  border: 1px solid var(--brand);
}

/* Update guest */
.update-guest {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 1.5rem;
  background-color: var(--dark-shades);
  overflow-y: scroll;
}

.hide-form {
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.show-form {
  transform: scale(1);
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.form-container {
  background-color: var(--light-shades);
  max-width: 500px;
  padding: 1.5rem;
  margin: auto;
  border-radius: 0.5rem;
  position: relative;
}

.close-form {
  position: absolute;
  color: var(--brand);
  top: -5px;
  right: -5px;
}

.close-form:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  button {
    margin: 0;
  }
  .search-filter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  strong {
    font-weight: 400;
  }
  .guest-list {
    height: 80vh;
    overflow: auto;
  }
  .guest:nth-child(even) {
    background-color: var(--light-shades);
  }
  .guest-info-hidden,
  .table-header {
    display: grid;
    grid-template-columns: 200px 12fr;
    gap: 1rem;
    align-items: center;
    overflow-x: auto;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .table-header {
    background-color: var(--dark-shades);
    color: var(--light-shades);
  }

  .table-header-cell {
    text-transform: uppercase;
  }

  .table-header {
    position: sticky;
    top: 0;
  }

  .guest-info-hidden::-webkit-scrollbar,
  .table-header::-webkit-scrollbar {
    display: none;
  }

  .name-header,
  .guest-info-hidden .guest-header {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff;
  }
  .name-header {
    background-color: var(--dark-shades);
  }

  .guest-info-hidden:nth-child(even) .guest-header {
    background-color: var(--light-shades);
  }

  .guest {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
  }

  .guest h2 {
    font-weight: 600;
  }

  .table-header .name-header {
    padding: 0.5rem;
  }
  .table-header .name-header,
  .table-header .other-headers {
    font-weight: 500;
  }

  .guest-info-hidden .guest-info,
  .other-headers {
    max-height: 100%;

    display: grid;
    grid-template-columns: repeat(12, 250px);
    gap: 0;
    align-items: center;
    position: relative;
  }

  .guest-info p span {
    display: none;
  }

  .fa-circle-chevron-down,
  .fa-circle-chevron-up {
    display: none;
  }

  .update-details {
    position: absolute;
    left: 150px;
  }
}
